<div class="shopping_cart">
  <button class="shopping_cart__cart-icon" mat-icon-button [disabled]="!products?.length" (click)="toggle()">
    <mat-icon>shopping_cart</mat-icon> {{ products?.length || ''}}
  </button>

  <section class="shopping_cart__list" [class.show]="showCart">
    <div class="shopping_cart__list__container" [class.confirming]="confirmControl.confirming">
      <div class="shopping_cart__list__container__header">
        <h2 class="shopping_cart__list__container__header__title">{{'APP_NAME' | translate }} - {{'shopping_order' | translate }}</h2>
        <button color="primary" mat-stroked-button [disabled]="confirmControl.confirming" (click)="toggle(false)">Cerrar</button>
      </div>

      <div class="shopping_cart__list__container__body">
        <div class="shopping_cart__list__container__body__empty" *ngIf="!products?.length && !confirmControl.confirming">
          <mat-icon>sentiment_dissatisfied</mat-icon>
          <p>{{ 'shopping_empty_add_products' | translate }}</p>
        </div>
        <ul *ngIf="products?.length" class="shopping_cart__list__container__body__products">
          <li *ngFor="let product of products" class="shopping_cart__list__container__body__products__item">
            <div class="shopping_cart__list__container__body__products__item__name">
              <button mat-icon-button (click)="removeProduct(product)" color="warn"
                      matTooltip="Eliminar">
                <mat-icon>remove_circle_outline</mat-icon>
              </button>
              <h5>{{ product.name | titlecase }}</h5>
            </div>

            <div class="shopping_cart__list__container__body__products__item__action">
              <app-products-action [product]="product"
                                   customClass="shopping_cart__list__container__body__products__actions">
              </app-products-action>
              <h5>{{ product.current_price | currency : '$' : 'symbol' : '1.0' }}</h5>
            </div>
          </li>

          <li class="shopping_cart__list__container__body__products__item">
            <div class="shopping_cart__list__container__body__products__item__total">
              <p>{{ 'shopping_total' | translate }}:</p>
              <p>{{ getTotalPrice() | currency : '$' : 'symbol' : '1.0'}}</p>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="shopping_cart__list__confirm">
      <button mat-raised-button color="primary"
              (click)="confirmOrder()"
              [disabled]="!products?.length || confirmControl.confirming">
        {{ (confirmControl.confirming ? 'shopping_confirming' :  'shopping_confirm_order') | translate }}
      </button>
    </div>

    <div *ngIf="confirmControl.confirming" class="shopping_cart__list__spinner" [@enterAnimation]>
      <app-spinner *ngIf="confirmControl.confirming && !confirmControl.hasResponse" loadingText="Confirmando..."></app-spinner>

      <div class="shopping_cart__list__spinner__done" *ngIf="confirmControl.hasResponse" [@enterAnimation]>
        <mat-icon [color]="confirmControl.hasError ? 'warn' : 'primary'">{{ confirmControl.icon }}</mat-icon>
        <p>{{ confirmControl.message }}</p>
      </div>
    </div>
  </section>

  <div class="shopping_cart__backdrop-mobile" [class.show]="showCart" (click)="toggle(false)"></div>
</div>

