@import 'src/theme/theme-mixins.scss';
@import 'src/theme/theme-variables.scss';

.shopping_cart {
  &__cart-icon {
    width: 50px;
    height: 50px;
  }

  &__list {
    &.show {
      right: 0;
      opacity: 1;
      pointer-events: auto;
    }
    transition: all 300ms ease-in-out;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: calc(100vh - #{$header-height});

    position: fixed;
    top: $header-height;
    bottom: 0;
    right: -100%;
    width: 50%;
    background-color: $gray-100;
    padding: 0;
    margin: 0;
    overflow: auto;
    opacity: 0;
    pointer-events: none;
    z-index: 999;

    @include mobile {
      width: 100%;
    }

    &__container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      height: 100%;
      color: black;

      &.confirming {
        opacity: 0.1;
        pointer-events: none;
      }

      &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;

        border-bottom: 1px solid $gray-200;

        &__title {
          @include mobile {
            font-size: 16px;
            margin-right: 10px;
          }
        }
      }

      &__body {
        padding: 20px;
        overflow: auto;

        height: 100%;

        &__products {
          padding: 0;
          &__item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 30px 0;
            border-bottom: 1px solid mat-color($custom-app-primary);

            @include mobile {
              flex-direction: column;
            }

            &:last-child {
              border: none;
            }

            &__total {
              display: flex;
              justify-content: flex-end;
              align-items: center;

              width: 100%;

              p {
                margin-top: 0;

                &:first-child {
                  color: mat-color($custom-app-primary);
                  margin-right: 10px;
                }
              }
            }

            &__name, &__action {
              display: inline-flex;
              align-items: center;
            }

            &__name {
              @include mobile {
                justify-content: center;
                width: 100%;
                margin-bottom: 30px;
              }
            }

            &__action {
              flex: auto;
              justify-content: space-between;

              @include mobile {
                width: 100%;
              }
            }
          }
          ::ng-deep &__actions  {
            position: static;
            margin-left: 20px;
          }
        }

        &__empty {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          white-space: normal;
          text-align: center;

          height: 100%;

          mat-icon {
            font-size: 100px;
            width: 100px;
            height: 100px;
          }
        }
      }
    }

    &__confirm {
      padding: 20px;

      @include mobile {
        position: fixed;
        bottom: 0;
        left: 0;

        padding: 0;
        width: 100%;
      }

      button {
        width: 100%;
      }
    }

    &__spinner {
      position: absolute;
      &, &__done {
        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
      }

      ::ng-deep app-spinner {
        color: $gray-900;
      }

      &__done {
        flex-direction: column;
        color: $gray-900;

        mat-icon {
          font-size: 100px;
          width: 100px;
          height: 100px;
        }
      }
    }
  }

  &__backdrop-mobile {
    transition: all 300ms ease;
    opacity: 0;
    z-index: 0;
    pointer-events: none;

    width: 100%;
    height: 100vh;
    background-color: rgba($gray-800, .5);

    position: fixed;
    left: 0;
    right: 0;
    top: 64px;
    bottom: 0;

    &.show {
      opacity: 1;
      pointer-events: auto;
      z-index: 1;
    }
  }
}
