<div class="filter-products" [class.show]="!hideFilter">
  <div class="filter-products__container">
    <div class="filter-products__container__header">
      <p>Filtros</p>
      <button color="primary" mat-stroked-button (click)="toggleFilter(false)">{{ 'common_close' | translate }}</button>
    </div>

    <div class="filter-products__container__body">
      <div class="filter-products__container__body__range-container">
        <p>{{ 'common_price' | translate }}:</p>
        <app-range-filter [(ngModel)]="filtersModel.priceRange"></app-range-filter>
      </div>

      <div class="filter-products__container__body__range-container">
        <p>{{ 'common_quantity' | translate }}:</p>
        <app-range-filter [(ngModel)]="filtersModel.qtyRange"></app-range-filter>
      </div>

      <mat-form-field class="filter-products__container__body__available" [@showHideAnimation]="hideFilter ? 'hide' : 'show'">
        <mat-select placeholder="Disponibilidad" [(ngModel)]="filtersModel.available">
          <mat-option [value]="null"> {{ 'common_all' | translate }} </mat-option>
          <mat-option [value]="true"> {{ 'common_available' | translate }} </mat-option>
          <mat-option [value]="false"> {{ 'common_not_available' | translate }} </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="filter-products__actions">
    <button mat-stroked-button color="primary" (click)="reset()">{{ 'common_clean' | translate }}</button>
    <button mat-raised-button color="primary" (click)="apply()">{{ 'common_apply' | translate }}</button>
  </div>
</div>
