@import 'src/theme/theme-mixins.scss';
@import 'src/theme/theme-variables.scss';

$margin: 20px;
$topBottomMargin: 60px;

.filter-products {
  transition: all 300ms ease-out;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 30%;
  z-index: 2;

  position: fixed;
  top: $header-height;
  bottom: 0;
  left: -100%;

  background-color: $white;
  border-right: 3px solid mat-color($custom-app-primary);

  &.show {
    left: 0;
  }

  @include mobile {
    width: 100%;
    border: none;
  }

  &__container {
    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      border-bottom: 1px solid mat-color($custom-app-primary);

      padding: 0 $margin;
    }

    &__body {
      padding: $margin;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &__available {
        width: 100%;
      }

      &__range-container {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        border-bottom: 1px solid #008591;
        margin: 10px;

        @include mobile {
          justify-content: space-between;
        }

        p {
          margin-top: 0;
          margin-bottom: 0;
          margin-right: 15px;
        }
      }
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;

    button {
      margin: 0 20px;
    }
  }
}
