@import 'src/theme/theme-mixins.scss';
@import 'src/theme/theme-variables.scss';

%hidden {
  max-height: 0;
  opacity: 0;
}

.categories-list, .categories-list__item {
  list-style: none;
  padding: 0;
}

.categories-list {
  transition: all 300ms ease-in-out;

  height: 100%;
  margin: 0;
  z-index: 2;

  @extend %categories-background;


  &.show {
    left: 0;
  }

  @include mobile {
    position: fixed;
    top: $header-height;
    bottom: 0;
    left: -100%;
    min-width: 30%;
    height: calc(100vh - #{$header-height});
    padding: 0;
    overflow: auto;
  }


  & > li {
    border-bottom: 1px solid mat-color($custom-app-primary);
  }

  &__item {

    &__info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 40px;
      padding: 0 20px;

      &.is-selected {
        color: mat-color($custom-app-primary);
      }

      &.is-expanded {
        ::ng-deep .mat-icon {
          transform: rotate(180deg);
        }
      }

      &__name {
        padding: 0 10px;
        text-align: left;
        flex: 2;
      }

      button {
        ::ng-deep .mat-icon {
          transition: all 300ms ease;
        }
      }
    }
  }

  &__sub {
    opacity: 0;

    &.show {
      transition: opacity 300ms ease;
      opacity: 1;
    }
  }

  &__backdrop-mobile {
    transition: all 300ms ease;
    opacity: 0;
    z-index: 0;
    pointer-events: none;

    &.show {
      opacity: 1;
      pointer-events: auto;
      z-index: 1;
    }

    @include mobile {
      width: 100%;
      background-color: rgba($gray-800, .5);

      position: fixed;
      left: 0;
      right: 0;
      top: 64px;
      bottom: 0;

      z-index: 1;
    }
  }
}
