<ul class="categories-list" [class.show]="collapsed | async">
  <app-spinner class="dashboard__categories__spinner" *ngIf="!categories"
               [loadingText]="'common_loading_categories' | translate">
  </app-spinner>

  <ng-container *ngIf="categories">
    <ng-template #recursiveList let-categories let-isParent="isParent">
      <li class="categories-list__item"
          *ngFor="let category of categories">
        <div class="categories-list__item__info"
             [class.is-expanded]="category.isExpanded"
             [class.is-selected]="currentCategory && currentCategory.id === category.id">
          <button class="categories-list__item__info__name" mat-button (click)="selectCategory(category)">
            {{category.name}}
          </button>
          <button  mat-icon-button
                   *ngIf="category.sublevels"
                   (click)="toggleCategory(category, isParent)">
            <mat-icon>expand_more</mat-icon>
          </button>
        </div>

        <ul class="categories-list__sub" *ngIf="category.sublevels"
            [class.show]="category.isExpanded"
            [@showHideAnimation]="category.isExpanded ? 'show' : 'hide'">

          <!--Sub-categories loads here-->
          <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: category.sublevels }"></ng-container>
        </ul>
      </li>
    </ng-template>

    <!--Parents categories loads here-->
    <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: categories, isParent: true }"></ng-container>

  </ng-container>
</ul>

<div class="categories-list__backdrop-mobile" [class.show]="collapsed | async" (click)="closeMenu()"></div>
