
.range-filter {
  display: flex;
  align-items: center;

  ::ng-deep mat-form-field {
    max-width: 70px;
    text-align: center;
    margin: 0 5px;
    outline: none;
    border-radius: 3px;
  }
}
