<div class="range-filter" *ngIf="currentModel">
  <mat-form-field class="example-full-width">
    <input matInput class="range-filter__input" type="text" [(ngModel)]="currentModel.min"
           [placeholder]="'common_min' | translate"
           (keypress)="onlyNumberKey($event)">
  </mat-form-field>
  <span> - </span>
  <mat-form-field class="example-full-width">
    <input matInput class="range-filter__input" type="text" [(ngModel)]="currentModel.max"
           [placeholder]="'common_max' | translate"
           (keypress)="onlyNumberKey($event)">
  </mat-form-field>
</div>
