<div class="products">
  <div class="products__actions" [class.has-search]="showSearch">
    <input class="products__actions__input"
           *ngIf="showSearch"
           [(ngModel)]="searchProduct" matInput
           placeholder="{{'common_search_product' | translate }}">

    <button mat-icon-button [matMenuTriggerFor]="sortMenu">
      <mat-icon matTooltip="{{ 'common_sort' | translate }}">sort</mat-icon>
    </button>

    <button mat-icon-button (click)="filterElement.toggleFilter()">
      <mat-icon matTooltip="{{ 'common_filter' | translate }}">filter_list</mat-icon>
    </button>
  </div>

  <app-filter-products #filterElement [products]="originalProducts"
                       (applied)="applyFilter($event)" (reseted)="resetFilter($event)">
  </app-filter-products>

  <div class="products__list">
    <div class="products__list__container"
         [class.not-available]="!product.available"
         (mouseenter)="setShowIndex(product)" (mouseleave)="showAddIndex = null"
         *ngFor="let product of products | filterFor : searchProduct : 'name'">

      <mat-card  class="products__list__container__item">
        <app-image-lazy-load  [src]="'https://picsum.photos/100/?random'" [fromCard]="true"></app-image-lazy-load>
        <mat-card-content class="products__list__container__item__content">
          <h3>{{ product.name | titlecase }}</h3>
          <span>{{ product.price }}</span>
          <span class="products__list__container__item__content__stock">{{'common_stock' | translate }}: {{ product.quantity }}</span>
        </mat-card-content>
      </mat-card>

      <app-products-action [product]="product"
                           [showId]="showAddIndex"
                           customClass="products__list__container__actions">
      </app-products-action>
    </div>
  </div>
</div>


<!--Collapsible Menus-->
<mat-menu #sortMenu="matMenu" panelClass="sort-menu">
  <button mat-menu-item  [class.products__actions--sort-selected]="sort.enumType === currentSort"
          *ngFor="let sort of sortValues" (click)="setSort(sort.enumType)">
    {{ sort.description }}
    <mat-icon *ngIf="sort.enumType === currentSort">{{ sortAsc ? 'arrow_upward' : 'arrow_downward' }}</mat-icon>
  </button>
</mat-menu>
