@import 'src/theme/theme-variables.scss';

.products {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  &__actions {
    display: flex;
    justify-content: flex-end;
    margin: $main-margin;

    &.has-search {
      justify-content: space-between;
    }

    &--sort-selected {
      display: flex;
      align-items: center;
      justify-content: space-between;

      color: mat-color($custom-app-primary);

      ::ng-deep mat-icon {
        display: flex;
        align-items: center;

        padding: 0;
        margin-left: 15px;
        margin-right: 0;
        font-size: 20px;
      }
    }

    &__input {
      transition: all 300ms ease-out;

      border: none;
      border-bottom: 1px solid $black;

      outline: none;
      background-color: transparent;

      margin: 5px 30px 0 16px;
      font-size: 16px;

      flex: 1;

      &:focus, &:active {
        border-color: mat-color($custom-app-primary);
      }
    }
  }


  &__list {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;

    &__container {
      display: flex;
      flex-direction: column;
      margin: 15px 15px 60px 15px;;
      position: relative;

      &.not-available {
        opacity: .5;
      }

      &__item {
        display: inline-block;
        align-self: flex-start;

        width: 100px;
        background-color: $white;

        img {
          max-height: 100px;
        }

        &__content {
          display: flex;
          flex-direction: column;
          align-items: flex-end;

          &__stock {
            font-size: 12px;
            margin-top: $main-margin;
            color: $gray-500;
          }
        }

        &__image-action {
          position: relative;

          button {
            position: absolute;
            left: 0;
            bottom: 0;
          }
        }
      }

      ::ng-deep &__actions {
        position: absolute;
        left: 0;
        top: 100%;
      }
    }
  }
}

.sort-menu {
  display: flex;
  flex-direction: column;
}
