<div class="image-lazy-load" [ngClass]="customClass">
  <mat-spinner *ngIf="!loaded"></mat-spinner>
  <ng-container *ngIf="loaded">
    <img *ngIf="!fromCard" [src]="src"/>
    <img *ngIf="fromCard" mat-card-image  [src]="src"/>
  </ng-container>
</div>
