@import '~@angular/material/theming';

/*
 * Application global variables.
 */

// Layout variables
$header-height: 64px;
$main-margin: 20px;

//
// Color system
//
$white:  #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:  #000;

// Define the palettes for your theme using the Material Design palettes
$custom-app-primary: mat-palette($mat-cyan, 800);
$custom-app-accent:  mat-palette($mat-cyan, 600, 100, 800);
$custom-app-warn:    mat-palette($mat-red, 600);
