@import 'src/theme/theme-variables.scss';

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;


@mixin mobile {
  @media (max-width: #{$tablet-width - 1}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width - 1}) and (max-width: #{$desktop-width - 1}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width - 1}) {
    @content;
  }
}

.just_mobile {
  @include tablet() {
    display: none;
  }

  @include desktop() {
    display: none;
  }
}

.hide_mobile {
  @include mobile() {
    display: none;
  }
}

.just_tablet {
  @include mobile() {
    display: none;
  }

  @include desktop() {
    display: none;
  }
}

.hide_tablet {
  @include tablet() {
    display: none;
  }
}

.just_desktop {
  @include mobile() {
    display: none;
  }

  @include tablet() {
    display: none;
  }
}

.hide_desktop {
  @include desktop() {
    display: none;
  }
}

%categories-background {
  background-color: $gray-100;
  box-shadow: inset -2px 0px 8px 0px $gray-500;
}
