@import 'src/theme/theme-variables.scss';

.products_action {
  height: 40px;
  width: 100%;

  &__add {
    width: 100%;

    &.not-available {
      cursor: not-allowed;
      pointer-events: none;
    }
  }

  &__update {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid mat-color($custom-app-primary);

    &__qty {
      background-color: transparent;
    }
  }
}
