<div class="products_action" *ngIf="product && (product.current_quantity > 0 || showId === product.id);"
     [ngClass]="customClass"
     [@enterAnimation]>
  <button  *ngIf="!product.current_quantity"
           class="products_action__add"
           [class.not-available]="!product.available"
           mat-raised-button
           (click)="updateQuantity(updateQuantityEnum.add)"
           [color]="product.available ? 'primary' : ''">
    {{ (product.available ? 'common_add' : 'common_not_available') | translate }}
  </button>

  <div *ngIf="product.current_quantity"  class="products_action__update">
    <button mat-icon-button (click)="updateQuantity(updateQuantityEnum.remove)"
            [color]="product.current_quantity === 1 ? 'warn' : 'primary'">
      <mat-icon>
        {{ product.current_quantity === 1 ? 'delete' : 'remove' }}
      </mat-icon>
    </button>
    <span class="products_action__update__qty"> {{product.current_quantity}} </span>
    <button mat-icon-button (click)="updateQuantity(updateQuantityEnum.add)"
            [disabled]="product.current_quantity === product.quantity"
            color="primary">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
