<div class="header">
  <mat-toolbar class="header__toolbar" color="primary">
    <button class="header__toolbar__ham just_mobile" mat-icon-button (click)="actionHamMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <h2>{{ 'APP_NAME' | translate }}</h2>

    <span class="header__toolbar__spacer"></span>

    <aside class="header__toolbar__actions">
      <app-shopping-cart></app-shopping-cart>
    </aside>
  </mat-toolbar>
</div>
