@import '~@angular/material/theming';
// Import your custom theme
@import 'src/theme/theme-mixins.scss';
@import 'src/theme/theme-variables.scss';

.header {
  position: fixed;
  left: 0;
  right: 0;
  height: $header-height;
  z-index: 1;

  &__toolbar {
    height: 100%;

    &__spacer {
      flex: 1 1 auto;
    }

    &__actions {
      display: flex;
      align-items: center;

      &--is_selected {
        color: mat-color($custom-app-primary);
      }
    }
  }
}
