<div class="dashboard">
  <!--Categories section-->
  <section class="dashboard__categories">
    <app-categories-list #catList
                         [categories]="categories"
                         (selected)="onSelectedCategory($event)">
    </app-categories-list>
  </section>

  <!--Products section-->
  <section class="dashboard__products">
    <div class="dashboard__products__empty" *ngIf="!loadingControl.products && !products">
      <mat-icon [inline] color="accent">add_shopping_cart</mat-icon>
      <p>{{ 'dashboard_select_category_products' | translate }}</p>
    </div>

    <app-spinner *ngIf="loadingControl.products" [loadingText]="'common_loading_products' | translate"></app-spinner>

    <app-products-list *ngIf="!loadingControl.products && products"
                       [showSearch]="!currentCategory?.sublevels"
                       [products]="products">

    </app-products-list>
  </section>
</div>
