@import 'src/theme/theme-mixins.scss';
@import 'src/theme/theme-variables.scss';

$empty-icon-size: 20vw;

.dashboard {
  display: flex;
  flex-direction: row;
  min-height: calc(100vh - #{$header-height});

  &__categories {
    transition: all 300ms linear;
    flex: 1 1 20%;

    @include mobile {
      flex: 1 1 0;
    }

    ::ng-deep app-spinner {
      @extend %categories-background;
    }
  }

  &__products {
    position: relative;
    transition: all 300ms linear;
    flex: 1 1 80%;

    @include mobile {
      flex: 1 1 100%;
    }

    &__empty {
      height: 100%;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      text-align: center;
      padding: 0 20px;

      mat-icon {
        font-size: 100px;
        width: 100px;
        height: 100px;
      }
    }
  }
}
